*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(to top,#14213d,#fca311);
}
header{
    width:80%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
main{
    width:80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.full{
    width: 100%;
}
.deviceInfo,#total,#createButton,#searchButton,#searchTypeSection>button ,.delete,.upgrade{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.priceInputs{
    display: flex;
}
.price{
    width: 100%;
}
.priceInputs>div{
    width: 19.4%;
    margin-right: 5px;
}
#total{
    background-color: red;
    color:#f4d58d;

    &::before{
        content: 'Total:';
    }
    &::after{
        content: '$';
    }
}
#createButton{
    background-color: #8ac926;
    transition: all 0.4s ease ;
    height: 40px;
    &:hover{
        letter-spacing: 5px;
        background-color: rgb(0, 255, 0);
    }
}
.inputWrap{
    position: relative;
}
#focus {
    position: absolute;
    top:-7px;
    left: 1px;
    font-size:17px;
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 75px;
    padding:1.5px 3px;
    border-radius: 100px;
    text-align: center;
    display: none;
    z-index: 1000;
    color: black;
    text-align: center;
}
#searchButton{
    background-color: #d8cfd0;
    text-align: center;
}
#searchTypeSection{
    display: flex;
    justify-content:space-between;
}
#searchTypeSection>button{
    /* margin: 0 50px; */
    background-color: #fe6f20;
    width:250px;
    color: #14213d;
    transition: all 0.4s ease ;
    &:hover{
        letter-spacing: 2px;
    }
}
#deleteAll{
    margin:30px 0 10px;
    &:hover{
        letter-spacing: 6px;
    }
}
.delete{
    background-color: #93032e;
    transition: all 0.3s ease;
    &:hover{
        letter-spacing: 2px;
        background-color: rgb(255, 0, 0);
    }
}
footer{
    width: 80%;
    margin: 0 auto;
}
table{
    width: 100%;
}
th,td{
    padding: 5px;
    text-align: center;
}
.upgrade{
    transition: all 0.3s ease;
    &:hover{
        letter-spacing: 3px;
        background-color:#50c878;
    }
}